<div class="t-comments-box">
  <div class="comment-title">Chat</div>
  <div class="add-comment">
    <img [src]="url_1" alt="" />
    <div class="comment-input">
      <input
        class="form-control form-control-sm"
        type="text"
        placeholder="Add a comment.."
      />
      <div class="comment-send"><i class="fab fa-telegram-plane"></i></div>
    </div>
  </div>
  <div class="comment comment-level-1">
    <img [src]="url_2" alt="" />
    <div>
      <div class="comment-label">
        <span class="comment-name">Rani</span>
        <span class="comment-time"> - 10 days ago</span>
      </div>
      <div class="comment-content">Can i free more PC games?</div>
      <div class="comment-action">
        <span> <i class="far fa-heart"></i> Like (1)</span>
        <span> <i class="far fa-comment-alt"></i> Comment (2)</span>
      </div>
    </div>
  </div>
  <div class="comment comment-level-2">
    <img [src]="url_3" alt="" />
    <div>
      <div class="comment-label">
        <span class="comment-name">Team Editor</span>
        <span class="comment-time"> - 5 days ago</span>
      </div>
      <div class="comment-content">
        You can have a took at this!
        <a href="https://www.microsoft.com/en-us/store/collections/pcgames/pc">PC-games-link</a> </div>
      <div class="comment-action">
        <span> <i class="far fa-heart"></i> Like (10)</span>
      </div>
    </div>
  </div>

  <div class="comment comment-level-3">
    <img [src]="url_3" alt="" />
    <div>
      <div class="comment-label">
        <span class="comment-name">Rani</span>
        <span class="comment-time"> - 5 days ago</span>
      </div>
      <div class="comment-content">Thank you!!</div>
      <div class="comment-action">
        <span> <i class="far fa-heart"></i> Like (0)</span>
      </div>
    </div>
  </div>

  <div class="comment comment-level-1">
    <img [src]="url_2" alt="" />
    <div>
      <div class="comment-label">
        <span class="comment-name">Team Editor🌙</span>
        <span class="comment-time"> - 3 days ago</span>
      </div>
      <div class="comment-content">
        If you have any queries, u can contact us at any time!
      </div>
      <div class="comment-action">
        <span> <i class="far fa-heart"></i> Like (1)</span>
        <span> <i class="far fa-comment-alt"></i> Comment (2)</span>
      </div>
    </div>
  </div>
</div>
